<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>

    <!-- основной файл-->
    <target xsi:type="File" name="mainFile"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${onexception:${newline}${exception:format=ToString}}"
            encoding="utf-8" />

    <!-- файл под ошибки и фатальные сбои -->
    <target xsi:type="File" name="errorFile"
            fileName="${basedir}/logs/errors/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${onexception:${newline}${exception:format=ToString}}"
            encoding="utf-8" />
  </targets>

  <rules>
    <!-- основной файл -->
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="mainFile" />
    <!-- ошибки и фатальные -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
